In [3]:
import pandas as pd

df = pd.read_csv('sample_data/california_housing_train.csv')

In [4]:
# Задача 40: Работать с файлом california_housing_train.csv, который находится в папке sample_data. 
# Определить среднюю стоимость дома, где кол-во людей от 0 до 500 (population).

In [15]:
df[df['population'] <= 500]['median_house_value'].mean()

206799.95140186916

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
215,-116.43,33.75,24.0,2596.0,438.0,473.0,237.0,3.7727,500001.0
260,-116.55,33.84,28.0,2992.0,562.0,676.0,346.0,5.7613,500001.0
862,-117.08,34.08,34.0,45.0,11.0,39.0,14.0,3.0625,500001.0
1388,-117.17,32.69,40.0,2236.0,331.0,767.0,316.0,5.3177,500001.0
1404,-117.18,33.51,13.0,270.0,42.0,120.0,42.0,6.9930,500001.0
...,...,...,...,...,...,...,...,...,...
16419,-122.56,37.94,36.0,2023.0,242.0,653.0,241.0,10.6272,500001.0
16420,-122.56,37.92,37.0,1926.0,290.0,721.0,298.0,8.9248,500001.0
16421,-122.56,37.91,52.0,1972.0,327.0,755.0,345.0,7.1924,500001.0
16434,-122.57,37.96,52.0,3458.0,468.0,1449.0,471.0,9.1834,500001.0
16512,-122.64,37.96,29.0,377.0,58.0,151.0,67.0,9.5551,500001.0